<header class="header">
    <h1>CSC 317 Website</h1>
    <nav>
        <ul style="list-style: none;">
            <li><a href="/">Home</a></li>
            <li><a href="postvideo">Create Post</a></li>
            <li><a href="viewpost">Browse Posts</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="profile">Profile</a></li>
        </ul>
        <div class="topnav">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </nav>
</header>