<main class="main-content">
  <div class="container">
    <h2>Videos</h2>
    <div id="postThumbnails" class="post-thumbnails">
      {{#each posts}}
      <div class="post-card">
        <div class="post-thumbnail">
          <a href="/posts/{{this.id}}" target="_self">
            <img src="/{{this.thumbnail}}" alt="{{this.title}}">
            <p class="thumbnailTitle">{{this.title}}</p>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
