<main class="main-content">
    <div class="container">
        <h2>Login</h2>
        <form class="form"
        action="/users/login"
        method="POST"
        enctype="application/x-www-form-urlencoded">
            <div class="input-group">
                <label for="username">Username</label>
                <input class="input-text" type="text" name="username" id="username" placeholder="Username">
            </div>


            <div class="input-group">
                <label for="password">Password</label>
                <input class="input-text" type="password" name="password" id="password" placeholder="Password">
            </div>

            <input type="submit" value="Log in">
            <div id="registerLink">Need to create an account?</div>
            <a type="text" href="registration">Create an account</a>
        </form>
    </div>
</main>