<main class="main-content">
    <div class="container">
        <h2> Upload Video </h2>
        <form class="form">

            <label for="Title">Title</label>
            <input class="input-text" type="text" name="Title" id="Title" placeholder="Enter Video Title Here" required>

            <label for="Description">Description</label>
            <input class="input-text" type="text" name="Description" id="Description"
                placeholder="Enter Video Description">

            <label for="Upload">Upload Video</label>
            <input class="input-text" type="file" name="Upload" id="Upload" placeholder="Upload Here" required>

            <label for="Acceptable Use Policy">Agree to the</label>
            <a target="_blank" href="https://www.NOWHERE2.com">
                Acceptable Use Policy
            </a>
            <input type="checkbox" name="Acceptable Use Policy" id="Acceptable Use Policy" required>

            <input type="submit" value="Create Post">

        </form>
    </div>
</main>