<main class="main-content">
    <div class="container">
        <h2>Profile Information</h2>


        <label for="users username">Username: {{user.username}}</label>
        <p type="text" name="username" id="users username"></p>

        <label for="users usersemail">User's Email: {{user.email}}</label>
        <p type="text" name="email" id="users useremail"></p>



    </div>

    <section class="profileVids">
        <label for="Your Post">Your Posts</label>
        <p type="text" name="Your Posts" id="Your Post"></p>
    </section>

</main>