<main class="main-content">
    <video class="video-container" controls>
        <source src="/{{post.video}}" type="video/mp4"/>
    </video>
    <div class ="post-info">
        <h2 class="post-title">sample data for title</h2>
        <div class="post-author-date">
            <p class="author"> sample author name</p>
            <p class="date-posted">jan 1 2024</p>
        </div>
        <p class="post-description">
            Sample data for description
        </p>
    </div>
    <div class="comments">
        {{#each currentPost.comments}}
       <div class="comment">
        <strong class = "comment-author"></strong>
        <span class="comment-date"></span>
        <div class="comment-text"></div>
        {{/each}}

       </div>

        <form class="Comment">

            <label for="Comment">Comment</label>
            <input type="text" name="Comment" id="Comment" placeholder="Enter Comment Here">

            <input type="submit" value="Submit Comment">
        </form>
    </div>
</main>