<main class="main-content">
    <div class="comments">
        {{#each currentPost.comments}}
       <div class="comment">
        <strong class = "comment-author"></strong>
        <span class="comment-date"></span>
        <div class="comment-text"></div>
        {{/each}}

       </div>

        <form class="Comment">

            <label for="Comment">Comment</label>
            <input type="text" name="Comment" id="Comment" placeholder="Enter Comment Here">

            <input type="submit" value="Submit Comment">
        </form>
    </div>
</main>