<main class="main-content">
    <div class="container">
        <p type="text">Your Posts</p>


        <p type="text" name="Author">Author</p>



        <p type="text" name="Creation Time">Creation Time</p>


        <p type="text" name="Video Title">Video Title</p>

        <form class="Comment">

            <label for="Comment">Comment</label>
            <input type="text" name="Comment" id="Comment" placeholder="Enter Comment Here">

            <input type="submit" value="Submit Comment">
        </form>
    </div>
</main>