


*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif ;
  background-color: antiquewhite;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

body *{
  text-align: center;
}

header{
  text-align: center;
  background-color: rgba(255, 132, 0, 0.903);
  padding-bottom: 20px;
  padding: 1rem;
  /* come back to  */
  
}

header h1 { 
  margin: 0 0 10px 0;
  color: black;
}




a {
  color: #4c00ff;
}

.container{
  display: flex;
  flex-direction: column;

  /* fill out
  
  fillout*/
}

.main-content{
  min-height: 75vh;
}

/* .header {
background-color: #45a049;

} */

ul {
  flex-wrap: wrap;
  font-size: large;
}
ul li{
  flex-direction: column;
}

ul li a{
  
  text-decoration: none;
  background: lightgoldenrodyellow;
  border-radius: 50px;
  padding: 15px 60px 15px 60px;
  margin:auto;
  
}

h2{
  text-align: center;
}




.botm-footer{
  color: antiquewhite;
  background-color: rgba(255, 132, 0, 0.903);
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  max-height: 20vh;
  /* display: flex; */
  flex-direction: column;
}

@media screen and (min-width: 500px){
  .container{
    
    flex-wrap: wrap;
  }

  .header{
    flex: 1 100%;
  }

  .main-content{
    flex: 1 100%;
  }
}


.btn-delete {
  background-color: red;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: darkred;
}