
:root{

}

*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  font-size: 100%;
  font-family:Arial, Helvetica, sans-serif ;
  background-color: antiquewhite;
}


header{
  text-align: center;
  background-color: rgba(255, 132, 0, 0.903);
  padding-bottom: 20px;
  
}



nav ul{
  display: inline-flex;
  /* display: inline-grid; 
  grid-auto-flow: column;*/
  padding: 0;
  justify-content: center;
  gap: 2em;
}

ul li a{
  flex-direction: column;
  text-decoration: none;
  background: lightgoldenrodyellow;
  border-radius: 50px;
  padding: 15px 60px 15px 60px;
  margin:auto;
  
}

header h1 { 
margin: 0 0 10px 0;
color: black;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

ul {
  flex-wrap: wrap;
  font-size: large;
}



.input-group{
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  width: 200px;
  justify-content: center;

}


.input-text{
  text-align: center;
  }


  h2{
    text-align: center;
  }

  form{
    text-align: center;
    padding: 8px;
    
  }

a {
  color: #4c00ff;
}

.botm-footer{
  color: antiquewhite;
  background-color: rgba(255, 132, 0, 0.903);
  text-align: center;
  padding-top: 18px;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#error{
    color: #f00;
    font weight: bold;
}
